*{
    font-family: 'Poppins', sans-serif;
}
html, body{
    font-size: 15px;
    margin:0;
    padding:0;
    color: #fff;
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    width:100%;
    height:100%;
}
header, .main{
    max-width: 1250px;
    margin: 0 auto;
}
header{
    padding:2rem;
}
header img{
    max-width: 150px;
}
.flex-item{
    padding:2rem;
}
@media (min-width: 768px) {
    body, html{
        background-position-x: -30%;
        background-position-y: 50%;
    }
    header{
        padding: 3rem 4rem;
    }
    .flex {
        display: flex;
    }

    .flex-item {
        flex: 1;
        padding:4rem 2rem;
    }
    .build-txt h1, .build-txt p{
        max-width: 500px;
    }
    h1{
        font-size: 2.5rem;
    }
    .social{
        text-align: right;
    }
    header img{
        max-width: 200px;
    }
}

.social i{
    display: inline-block;
    width: 20px;
    margin: 0.5rem;
    border: 0.75px solid #fff;
    text-align: center;
    padding: 0.35rem;
    height: 20px;
    border-radius: 50%;
}
.social i::before{
    position: relative;
    top: 2px;
}
.reg-btn{
    color: hsl(257, 40%, 49%);
    font-weight: 600;
    background: #fff;
    border: 0;
    padding: 10px;
    min-width: 150px;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.flex-item img{
    width: 100%;
    height: auto;
}

@media (max-width:767px){
    html, body{
        background-image: url('../images/bg-mobile.svg');
    }
    .main{
        text-align: center;
    }
}