*{
    margin:0;
    padding:0;
}
html, body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height:100%;
    background: #00000080;
    background-size: cover;
    transition: background-color 1000ms linear;
}
.container{   
    position: absolute;
    background: white;
    right:40px;
    top:40px;
    padding:5px;
}
a{
height:40px;
width:40px;
margin:5px;
float: left;
background-color:green;
text-indent: -99999px;
cursor: pointer;
}
#red{
    background-color:#e74c3c;
}
#blue{
    background-color:#3498db;
}
#green{
    background-color:#2ecc71;
}
#gray{
    background-color:#34495e;
}
#yellow{
    background-color:#f1c40f;
}
#orange{
    background-color:#e67e22;
}